/* tamil */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Madurai SemiBold'), local('HindMadurai-SemiBold'), url(https://fonts.gstatic.com/s/hindmadurai/v3/sdSJTZLdRXJhVTP92m2S6w_AInMXQf-sagjCrGAqp1c.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Madurai SemiBold'), local('HindMadurai-SemiBold'), url(https://fonts.gstatic.com/s/hindmadurai/v3/sdSJTZLdRXJhVTP92m2S69sVlKlcXvEcgUssOU60Pj4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Madurai SemiBold'), local('HindMadurai-SemiBold'), url(https://fonts.gstatic.com/s/hindmadurai/v3/sdSJTZLdRXJhVTP92m2S6_Bf3Xtc57ojmY2ox2Xv8Go.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* tamil */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Madurai Bold'), local('HindMadurai-Bold'), url(https://fonts.gstatic.com/s/hindmadurai/v3/sdSJTZLdRXJhVTP92m2S6-wB3qNVMcK1rD1ogl7YCh4.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200B-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Madurai Bold'), local('HindMadurai-Bold'), url(https://fonts.gstatic.com/s/hindmadurai/v3/sdSJTZLdRXJhVTP92m2S6-IaMZP5eRGvEWe_CNIU_oY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Madurai Bold'), local('HindMadurai-Bold'), url(https://fonts.gstatic.com/s/hindmadurai/v3/sdSJTZLdRXJhVTP92m2S63NuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
