.login-panel img{
	margin-bottom:20px;
}

.login-panel  > .panel{
	padding:10px;
}

#my-grid th {
	border-color:#C9DCEA;
	background-color: #deeffc; 
	background-color: -moz-linear-gradient(top,  #deeffc 0%, #d7e6f2 100%); 
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deeffc), color-stop(100%,#d7e6f2)); 
	background-color: -webkit-linear-gradient(top,  #deeffc 0%,#d7e6f2 100%); 
	background-color: -o-linear-gradient(top,  #deeffc 0%,#d7e6f2 100%); 
	background-color: -ms-linear-gradient(top,  #deeffc 0%,#d7e6f2 100%); 
	background-color: linear-gradient(to bottom,  #deeffc 0%,#d7e6f2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deeffc', endColorstr='#d7e6f2',GradientType=0 ); 
}

.judul-transaksi {
	margin-top: 5px;
	margin-bottom: 15px;
}

.table-responsive {
	overflow: hidden;
}

#harga_satuan_tampil:hover
{
	color: #188ae2; 
	cursor: pointer;
}

#TotalDebit:hover
{
	cursor: pointer;
}

#segarkan_data:hover
{
	cursor: pointer;
}

.list_data:hover
{
	cursor: pointer;
}

/* Awal Daftar Auto Completed Barang */
#daftar-autocomplete { 
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%;
}

#daftar-autocomplete li {
	padding: 5px 10px 5px 10px; 
	background:#ffffff; 
	/* border-bottom:#ddd 1px solid; */
}

#daftar-autocomplete li:hover,
#daftar-autocomplete li.autocomplete_active {
	/* Abu abu : f3f3f3  */
	background:#e8ebef; 
	color:#ffffff; 
	cursor: pointer;
}
/* Akhir Daftar Auto Completed Barang */

/* Awal Daftar Auto Completed Harga */
#daftar_autocompleted_harga { 
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%;
}

#daftar_autocompleted_harga li {
	padding: 5px 10px 5px 10px; 
	background:#ffffff; 
}

#daftar_autocompleted_harga li:hover,
#daftar_autocompleted_harga li.autocomplete_active {
	/* Abu abu : f3f3f3  */
	background:#e8ebef; 
	cursor: pointer;
}
/* Akhir Daftar Auto Completed Harga */

/* Awal Daftar Auto Completed Customer */
#daftar_autocompleted_customer { 
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%;
}

#daftar_autocompleted_customer li {
	padding: 5px 10px 5px 10px; 
	background:#ffffff; 
	/* border-bottom:#ddd 1px solid; */
}

#daftar_autocompleted_customer li:hover,
#daftar_autocompleted_customer li.autocomplete_active-customer {
	/* Abu abu : f3f3f3  */
	background:#e8ebef; 
	/* color:#ffffff;  */
	cursor: pointer;
}
/* Akhir Daftar Auto Completed Customer */

/* Awal Daftar Auto Completed Supplier */
#daftar_autocompleted_supplier { 
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%;
}

#daftar_autocompleted_supplier li {
	padding: 5px 10px 5px 10px; 
	background:#ffffff; 
	/* border-bottom:#ddd 1px solid; */
}

#daftar_autocompleted_supplier li:hover,
#daftar_autocompleted_supplier li.autocomplete_active-supplier {
	/* Abu abu : f3f3f3  */
	background:#188ae2; 
	color:#ffffff; 
	cursor: pointer;
}
/* Akhir Daftar Auto Completed Supplier */

/* Awal Daftar Auto Completed Jenis Barang */
#daftar_autocompleted_jenis_barang { 
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%;
}

#daftar_autocompleted_jenis_barang li {
	padding: 5px 10px 5px 10px; 
	background:#ffffff; 
	/* border-bottom:#ddd 1px solid; */
}

#daftar_autocompleted_jenis_barang li:hover,
#daftar_autocompleted_jenis_barang li.autocomplete_active {
	/* Abu abu : f3f3f3  */
	background:#188ae2; 
	color:#ffffff; 
	cursor: pointer;
}
/* Akhir Daftar Auto Completed Jenis Barang */

/* Awal Daftar Auto Completed Kategori Barang */
#daftar_autocompleted_kategori_barang { 
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%;
}

#daftar_autocompleted_kategori_barang li {
	padding: 5px 10px 5px 10px; 
	background:#ffffff; 
	/* border-bottom:#ddd 1px solid; */
}

#daftar_autocompleted_kategori_barang li:hover,
#daftar_autocompleted_kategori_barang li.autocomplete_active {
	/* Abu abu : f3f3f3  */
	background:#188ae2; 
	color:#ffffff; 
	cursor: pointer;
}
/* Akhir Daftar Auto Completed Jenis Barang */

/* Awal Daftar Auto Completed Daftar Transaksi */
#daftar_autocompleted_transaksi { 
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%;
	height:100%;
}

#daftar_autocompleted_transaksi li {
	padding: 5px 10px 5px 10px; 
	background:#ffffff; 
	/* border-bottom:#ddd 1px solid; */
}

#daftar_autocompleted_transaksi li:hover,
#daftar_autocompleted_transaksi li.autocomplete_active {
	/* Abu abu : f3f3f3  */
	background:#f3f3f3; 
	color:#ffffff; 
	cursor: pointer;
}
/* Akhir Daftar Auto Completed Jenis Barang */

/* Awal Daftar Auto Completed Daftar Barang Perakitan */
#daftar_autocompleted_perakitan { 
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%;
}

#daftar_autocompleted_perakitan li {
	padding: 5px 10px 5px 10px; 
	background:#ffffff; 
	/* border-bottom:#ddd 1px solid; */
}

#daftar_autocompleted_perakitan li:hover,
#daftar_autocompleted_perakitan li.autocomplete_active-perakitan {
	/* Abu abu : f3f3f3  */
	background:#e8ebef; 
	/* color:#ffffff;  */
	cursor: pointer;
}
/* Akhir Daftar Auto Completed Dafar Barang Perakitan */

/* Awal Daftar Auto Completed Daftar Barang Komponen */
#daftar_autocompleted_komponen { 
	list-style:none; 
	margin:0; 
	padding:0; 
	width:100%;
}

#daftar_autocompleted_komponen li {
	padding: 5px 10px 5px 10px; 
	background:#ffffff; 
	/* border-bottom:#ddd 1px solid; */
}

#daftar_autocompleted_komponen li:hover,
#daftar_autocompleted_komponen li.autocomplete_active-komponen {
	/* Abu abu : f3f3f3  */
	background:#e8ebef; 
	/* color:#ffffff;  */
	cursor: pointer;
}
/* Akhir Daftar Auto Completed Daftar Barang Komponen */

#hasil_pencarian{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	border:1px solid #ddd;
	z-index: 1;
}

#hasil_pencarian_barang{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	border:1px solid #ddd;
	z-index: 1;
}

#hasil_pencarian_customer{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	border:1px solid #ddd;
	z-index: 1;
}

#hasil_pencarian_harga{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	/* border:1px solid #ddd; */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
	z-index: 1;
}

#hasil_pencarian_supplier{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	/* border:1px solid #ddd; */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
	z-index: 1111;
}

#hasil_pencarian_jenis_barang{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	/* border:1px solid #ddd; */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
	z-index: 1111;
}

#hasil_pencarian_kategori_barang{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	/* border:1px solid #ddd; */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
	z-index: 1111;
}

#hasil_pencarian_transaksi{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	border:1px solid #ddd;
	z-index: 11;
} 

#hasil_pencarian_perakitan{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	border:1px solid #ddd;
	z-index: 11;
}

#hasil_pencarian_komponen{ 
	padding: 0px; 
	display: none; 
	position: absolute; 
	max-height: 350px;
	overflow: auto;
	border:1px solid #ddd;
	z-index: 1;
}

.TotalBayar {
	text-align: right;
	margin-bottom: 20px;
}

.TotalBayar h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

button#CetakStruk, button#Simpan, button#Tahan, button#Laporan, button#SimpanDetailPerakitan, button#SimpanSO {
	padding-top: 8px;
	padding-bottom: 8px;
}

.info_pelanggan {
	margin-bottom: 0px;
}

.info_pelanggan td {
	padding: 2px;
	text-align: left;
}

#LoadingDulu {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-top: -50%;
	margin-left: -20%;	
	height: 100px;
	right: 100px;
	width: 100px;
	z-index: 9999999999;
}

#LoadingContent {
	height: 30px;
	margin: auto;
	width: 180px;
	background: #ff005e;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	color: #fff;
}

@media screen and (max-width:768px) {
	.table-responsive {
		overflow: auto;
	}
}